.venezuela-arrow.right.mobile {
  position: relative;
  height: 60px;
  width: 20px;
  left: calc(100% - 40px);
  top: -62vh;
  fill: white;
}

.venezuela-arrow.desktop {
  position: absolute;
  width: 60px;
}

.venezuela-arrow.right.desktop {
/*   left: calc(100% - 40px);
  top: calc(50% - 30px); */
    bottom: 20px;
    right: calc(50% - 10px);
    cursor: pointer;
}

.venezuela-arrow.left.desktop {
  /*   left: calc(100% - 40px);
    top: calc(50% - 30px); */
      bottom: 5px;
      right: 180px;
      display: none;
      transform: rotate(270deg);
  }
  

.venezuela-arrow.right.desktop{
  fill:white;
}

.venezuela-arrow.right.desktop.pallo{
  fill:black;
}

.venezuela-arrow.left.desktop {
  fill: white;
}

.venezuela-arrow.left.desktop.graph {
  fill: white;
}

.venezuela-arrow.right.desktop.graph {
  fill:white;
}





.venezuela-arrow.right.desktop.pallo circle {
  fill: white;
}


.venezuela-arrow.right.desktop.cover {
  height: 70px;
  width: 70px;
  left: calc(100% - 100px);
  top: calc(50% - 35px);
}



.bounce {
  animation: bounce 2s infinite;
}

.keyboard-icon {
  bottom: 10px;
  right: 50px;
  
  width: 50px;
  position: absolute}

  .keyboard-icon {
  fill: white;
  }

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translatex(0);
  }
  40% {
    transform: translateX(-10px);
  }
  60% {
    transform: translatex(-5px);
  }
}
