.graph-image {
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 56vh;
  height: 100vh;
}

@media screen {
  @media (min-width: 1025px) {
    .graph-image {
    width: 80%;
    height: auto;
    }
  }

  @media (max-width: 1025px) {
    .graph-image {
      margin-top: 50px;
    }
  }

  @media (min-width: 1025px) { 
 
    .graph-image {
    width: 70%;
    top: 50%;
    transform: translateY(-50%);
    position: relative;
    height: auto;
    }
  }
}