.chapter-container a,
.chapter-container a:visited,
.chapter-container a:active {
  color: inherit;
  position: relative;
  z-index: 6;
}

.plaintext-container a,
.plaintext-container a:visited,
.plaintext-container a:active {
  color: inherit;
  position: relative;
  z-index: 6;
}

@media screen {
  @media (max-width: 1025px) {
    .swiper-text {
      display: flex;
      justify-content: center;
      flex-direction: column;
      padding: 0 0px;
      box-sizing: border-box;
      color: white;
      height: calc(100% - 30px);
    }

    .swiper-text p {
      margin-bottom: 0;
      font-weight: 300;
      width: 100%;
      font-size: 1.2em;
    }

    .plaintext-container {
      padding: 20px;
      margin-top: 20%;
      font-size: 0.9em;
    }

    .chapter-container.chapter-bottom p {
      margin-bottom: 10px;
      font-weight: 300;
      width: calc(100% - 20px);
      font-size: 1.2em;
      background: rgba(0, 0, 0, 0.8);
      margin-top: 0;
      padding: 10px;
    }

    .chapter-container.chapter-bottom {
      position: absolute;
      bottom: 0;
      /* margin: 10px; */
      /* padding: 0px; */
      width: 90%;
      margin-left: auto;
      display: block;
      margin-right: auto;
      left: 0;
      right: 0;
      /* padding: 9px; */
    }

    .swiper-text.chapter {
      justify-content: flex-start !important;
    }
    .swiper-text.plainText {
      justify-content: start !important;
    }
    .swiper-position-center .swiper-text {
      justify-content: center;
    }

    .swiper-position-bottom .swiper-text {
      justify-content: flex-start;
    }
  }

  @media (min-width: 1025px) {
    .chapter-container.chapter-bottom p {
      font-weight: 300;
    }

    .chapter-credits p{
      margin: 10px;
    }


    .plaintext-container.chapter-credits {
      position: relative;
      left: 50%;
      margin-top: 10%;
      color:white;
  }

    .swiper-text.chapter {
      width: 49%;
      color: black;
      position: absolute;
      left: 51%;
      font-size: 1.3rem;
      font-weight: 200;
      max-width: 45vw;
      padding: 30px;
      padding-top: 0;
    }

    .swiper-position-center {
      height: 100%;
    }

    .desktop-grid {
      margin-bottom: 100px;
      margin-top: 100px;
      height:calc(100% - 180px);
      display: flex;
      margin-left: 0px;
      width: calc(100% - 80px);
      flex-direction: column;
      margin-left: 30px;
      margin-right: 30px;
    }

    .desktop-grid-row {
      width: 100%;
      height: 33%;
      display: flex;
      flex-direction: row;
    }

    .desktop-grid-row.row-upper {
      display: flex;
    } 

    .desktop-grid-row.row-middle {
      display: flex;
    } 
    .desktop-grid-row.row-lower {
      display: flex;
    }
    
    .desktop-grid-cell  {
    }

    .desktop-grid-cell-content {
      background: rgba(0,0,0,0.7);
      color: white;
     font-size: 1.2em;
      padding: 35px;
      padding-top: 32px;
      font-weight: 300;
    }

    .desktop-grid-cell-content p {
      margin-bottom: 0;
      margin-top: 0;
    }

    .desktop-grid-cell-content p:not(:first-child)  {
      margin-top: 30px;
    }

    .swiper-text.plaintext {
      font-size: 1.3rem;
      font-weight: 300;
      width: 50%;
      max-width: 800px;
      color:white;
      position: relative;
    }
  }
}

