::cue {
  color: yellow;
  font-weight: bold;
  display: none;
  visibility: hidden;
}
@custom-media --desktop (min-width: 1025px);
@custom-media --mobileOrTablet (max-width: 1025px);
::-webkit-media-text-track-background {
  opacity: 0;
}

video::-webkit-media-text-track-container {
  opacity: 0;
}

video::-webkit-media-text-track-background {
  opacity: 0;
}

video::-webkit-media-text-track-display {
  opacity: 0;
}

video::-webkit-media-text-track-display-backdrop {
  opacity: 0;
}

.time-left {
  font-weight: 300;
  color: white;
  margin: 10px;
  width: 15%;
}

.tg-and-progress {
  width: 95%;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}



.venezuela-subtitle {
  color: white;
  width: 80%;
  box-decoration-break: clone;
  background: rgba(0,0,0,.75);
  width: 79%;
  font-weight: 200;
  padding: 0.5rem 2rem;
}

.venezuela-subtitle.desktop {
  width: 100%;
  background: rgba(0,0,0,0.7);
  padding-left: 30px;
  left: 0;
  position: absolute;
  top: 66px;
  color: white;
  font-weight: 200;
    font-size: 1.2em;
  box-decoration-break: clone;
  padding: 30px;
}

.venezuela-subtitle-container {
  position: absolute;
  z-index: 55;
  bottom: 30px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.video-progress {
  height: 10px;
  width: 95%;
  margin-top: 20px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.video-progress.half {
  width: 50%;
  margin-right: 15px;
}

.venezuela-subtitle-container.desktop {
  position: relative;
  top: 70%;
  width: 40%;
  margin: auto;
  display: flex;
  align-items: flex-start;
}

.subvideo-tg {
    width: 50%;
    max-height: 60px;
    min-height: 10px; 
    background: white;
    padding: 5px;
    display: flex;
    justify-content: center;
    padding-right: 10px;
    padding-left: 10px;
    font-weight: 200;
    flex-direction: column;
}

.tg-title {
  font-size: smaller;
}

.tg-name {
  text-transform: uppercase;
}

.subvideo-tg.desktop {
  z-index: 2;
  position: absolute;
    left: 0;
    font-size: 1.3em;
    padding: 10px;
    padding-left: 35px;
    width: 100%;
    max-height: 100px;
    max-width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#next-catch {
  width: 75%;
  left: 25%;
  height: 100%;
  position: absolute;
  z-index: 5;
  cursor:pointer;
}

#prev-catch {
  height: 100%;
  position: absolute;
  z-index: 5;
  width: 25%;
  top: 0;
  margin-right: auto;
  cursor:pointer;
}

.app {
  font-family: 'Oswald', sans-serif;
  background: white;
  box-sizing: content-box;
  line-height: normal;
  background-size: cover;
}

h1,
h2,
h3,
h4 {
  font-family: unset;
}

.body {
  margin: 0;
  user-select:none;
  -webkit-user-select: none;
  pointer-events: none;
}
.swiper-container {
  height: 100%;
}
@media screen {
  video {
    display: inline-block;
  }

}


@media screen {
  @media (min-width: 1025px) {
    .swiper-slide {

    background: black;
    }
  }
}
@media screen {
  @media (max-width: 1025px) {

    .graph-image {
      width: 100%;
      height: auto;
      }
   
    .swiper-slide {
      -webkit-flex-shrink: 0;
      -ms-flex-negative: 0;
      flex-shrink: 0;
      width: 100%;
      height: 100%;
      position: relative;
    }
  }
  @media (--desktop) {


    
    * {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    }

    .video-progress {
      margin-top: 0 !important;
    }

.time-left {
  color: white;
  background: black;
  margin-left: 0;
  text-align: center;
  padding: 10px;
}

.tg-and-progress {
  width: 100%;
  margin-top: 0;
  top: -58px;
  position: relative;
  align-items: center;
}

.empty-tg {
  top:0
}

  }
  * {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  }
  .swiper-slide {
    height: 100vh;
    background: black;
    position: relative;
    overflow: hidden;
    -ms-flex-negative: 0;
    flex-shrink: 0;
    -webkit-transform: translate3d(0, 0, 0)
  }
  .swiper-video {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    z-index: -1;
    top: 0;
    left: 0;
    border-right: 2px solid white;
  }
  .swiper-video .swiper-video-player {
    position: absolute;
    margin: auto;
    min-height: 100%;
    min-width: 100%;
    height: 100%;
    width: 100%;
    -o-object-fit: cover;
    object-fit: cover;
  }
  .swiper-video .swiper-video-player.anchor-middle-center {
    -o-object-position: center center;
    object-position: center center;
  }
  @media screen and (max-width: 1049px) {
    .swiper-text {
      width: 100%;
      max-width: 550px;
      margin: 0 auto;
    }

    .app {
      font-family: 'Oswald', sans-serif;
    }
  }
  @media screen and (min-width: 1050px) and (max-width: 1149px) {
    .swiper-video {
      min-width: 500px;
    }
  }
  @media (max-width: 1025px) {
    * {
      -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    }
    .swiper-slide {
      height: 100%;
      position: relative;
      overflow: hidden;
    }
    .swiper-video {
      height: 100%;
      width: 100%;
      z-index: -1;
      top: 0;
      left: 0;
    }
    .swiper-video .swiper-video-player {
      margin: auto;
      min-height: 100%;
      min-width: 100%;
      height: 100%;
      width: 100%;
      -o-object-fit: cover;
      object-fit: cover;
    }
    .swiper-video .swiper-video-player.anchor-middle-center {
      -o-object-position: center center;
      object-position: center center;
    }
  }
}

.swiper-video {
  overflow: unset;
}
